.gender-radio{
    display: flex;
   justify-content: space-between;
}
.gender-radio .ant-radio-button-wrapper{    
    border-radius: 4px !important;
    flex-grow: 1;
    width: 20%;
    margin: 0 5px;
    padding: 0;
    text-align: center;
}
.gender-radio .ant-radio-button-wrapper:first-child{
    margin-left: 0;
}
.gender-radio .ant-radio-button-wrapper:last-child{
    margin-right: 0;
}
.facebook-buff-div .ant-card-body{
    padding: 4px;
    padding-right: 10px;
}
.from-to-input-number{
    display: flex;
    justify-content: space-between;
}
.from-to-input-number .ant-input-number, .from-to-input-number span{
    flex-grow: 1;
    width: 40%;
}
.from-to-input-number span{
    text-align: center;
}
.agree-checkbox-unchecked .ant-checkbox-inner{
    border-color: red;
}
.agree-checkbox-unchecked{
    color: red;
}